<div class="container">

  <div class="mainTopic">

    <form class="hm">
      <p class="login">LOG IN</p><br><br>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" [(ngModel)]="email"  [ngModelOptions]="{standalone: true}" (change)="checkAvailable()" id="exampleInputEmail1" aria-describedby="emailHelp">

      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" (change)="checkAvailable()"  id="exampleInputPassword1">
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" [(ngModel)]="check" [ngModelOptions]="{standalone: true}" (change)="checkAvailable()" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="buttonChecked">Submit</button>
    </form>
    
    
    </div>

</div>

